@import '../../styles/variables.module.scss';

.button {
  border-radius: 20px;
  border: 3px solid;
  transition: transform 90ms ease-in-out;
  cursor: pointer;

  @mixin button_type($color, $border-color, $bg-color, $padding, $font-size) {
    background-image: $bg-color;
    background-color: $bg-color;
    border-color: $border-color;
    color: $color;
    padding: $padding;
    font-size: $font-size;
  }

  &.button_type.gradient {
    @include button_type(
      $mainWhite,
      $mainWhite,
      $mainGradient,
      8px 20px,
      $fontSizeMd
    );

    @media (max-width: 400px) {
      @include button_type(
        $mainWhite,
        $mainWhite,
        $mainGradient,
        6px 12px,
        $fontSizeSm
      );
    }
  }

  &.button_type.simple {
    @include button_type(
      $mainYellow,
      $mainYellow,
      transparent,
      8px 20px,
      $fontSizeSm
    );
  }
  &.button_type.exit {
    @include button_type($mainRed, $mainRed, transparent, 12px, $fontSizeSm);
  }

  &:hover {
    transform: scale(1.1);
  }
}
