$mainPink: #f68fac;
$mainYellow: #f5a54a;
$mainRed: red;

$extraPink: #f3b1c3;
$extraYellow: #eeb16b;

$mainDark: #000;
$mainWhite: #fff;

$fontSizeLg: 56px;
$fontSizeMd: 22px;
$fontSizeSm: 16px;

$mainGradient: linear-gradient(to right, $mainYellow 30%, $mainPink 90%);
