@import '../../styles/variables.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500;600&display=swap');

.container {
  background-image: url('https://img.freepik.com/premium-vector/colorful-question-mark-seamless-pattern-with-black-background_197792-4948.jpg');
  height: 100vh;
  .logo {
    font-family: 'Palanquin Dark', sans-serif;
    margin: 0 0 60px;
    padding: 0;
    letter-spacing: 2px;
    font-size: $fontSizeLg;
    color: #f5a54a;
    background-clip: text;
    -webkit-background-clip: text;
  }

  & footer {
    display: flex;
    margin-top: 3.75rem;
    float: left;
    padding: 0 2.5rem;

    .btn {
      margin-right: 1.5rem;
    }
  }
}
