@import '../../styles/variables.module.scss';

.container {
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .logo {
      margin-left: 40vw;
      font-family: cursive;
      letter-spacing: 2px;
      font-size: $fontSizeLg;
      color: #f5a54a;
      background-image: $mainGradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .buttonContainer {
      margin-left: 5%;
    }
  }
}
