@import '../../styles/variables.module.scss';

.container {
  text-align: center;
  background-color: $extraDark;
  border: $extraPink solid 3px;
  border-radius: 30px;
  height: 300px;

  .inner {
    padding: 10px 40px;

    .question {
      font-size: $fontSizeMd;
      margin-bottom: 30px;
    }
    .questions {
      margin-bottom: 20px;
      .label {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        font-size: 20px;
        margin-bottom: 5px;

        .checkmark {
          color: $extraDark;
          position: absolute;
          left: 9px;
        }
      }

      .checkboxWrapper input[type='checkbox'] {
        -webkit-appearance: none;
        appearance: none;
        width: 1.5em;
        height: 1.5em;
        border-radius: 2px;
        margin-right: 10px;
        border: 2px solid $mainYellow;
        outline: none;
        cursor: pointer;

        &:checked {
          background-color: $mainYellow;
        }
      }
    }
  }
}
