.carousel-container {
  width: 50rem;
  margin: auto;
  .disabled-button {
    margin-top: 1.875rem;

    &:disabled {
      cursor: not-allowed;
      background-image: none;
    }
  }
}

@media (max-width: 820px) {
  .carousel-container {
    width: 100vw;
  }
}
