@import '../../styles/variables.module.scss';

.container {
  height: 21rem;
  width: 15.625rem;
  border: 0.125rem solid $mainYellow;
  transition: transform 80ms ease-in;
  border-radius: 1.25rem;
  overflow: hidden;

  & img {
    width: 12.5rem;
    margin-top: 1.25rem;
  }

  .name {
    font-size: $fontSizeMd;
    height: 4rem;
    overflow: hidden;
    margin: 1rem 0 0;
    padding: 0 0.2rem;
  }

  .text {
    margin: 0 0 0.9rem;
  }

  &:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 520px) {
  .container {
    height: 16rem;
    width: 11rem;

    & img {
      width: 11rem;
    }

    .name {
      padding: 0;
      margin: 0;
      font-size: $fontSizeSm;
      height: 2.5rem;
    }

    .text {
      margin: 0;
      padding: 0 0 0.4rem;
    }
  }
}
