@import '../../styles/variables.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500;600&display=swap');
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    font-family: 'Palanquin Dark', sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    font-size: $fontSizeLg;
    color: $mainYellow;
    background-image: $mainGradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15vh;
  }

  .results {
    display: flex;
    align-items: center;

    .time {
      font-size: $fontSizeMd;
      letter-spacing: 2px;
      width: 15.625rem;
      margin-left: 10vw;
    }
  }
  .btn {
    margin-top: 20vh;
  }
}

@media (max-width: 600px) {
  .container {
    .results {
      .time {
        width: 8rem;
        margin: 0;
      }
    }
  }
}
@media (max-width: 500px) {
  .container {
    & h1 {
      margin-bottom: 5vh;
      font-size: 45px;
    }
    .results {
      flex-direction: column;
      .time {
        width: unset;
        margin-top: 2vh;
        padding: 2rem;
      }
    }
    .btn {
      margin-top: 5vh;
    }
  }
}
