@import '../../styles/variables.module.scss';
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    margin: 0;
    padding: 0;
    font-family: cursive;
    letter-spacing: 2px;
    font-size: $fontSizeLg;
    color: $mainYellow;
    background-image: $mainGradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15vh;
  }

  .results {
    display: flex;
    align-items: center;

    .time {
      font-size: $fontSizeMd;
      letter-spacing: 2px;
      width: 250px;
      margin-left: 10vw;
    }
  }

  .btn {
    margin-top: 20vh;
  }
}
