@import './styles/variables.module.scss';

.App {
  text-align: center;
}

body {
  background-color: $mainDark;
  color: $mainWhite;
}

*:focus {
  outline: none;
  tabindex: 0;
  border: 2px solid $mainPink !important;
}
