@import '../../styles/variables.module.scss';

.container {
  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .logo {
      margin-right: 30%;
      font-family: cursive;
      letter-spacing: 2px;
      font-size: $fontSizeLg;
      color: #f5a54a;
      background-image: linear-gradient(
        to right,
        $mainYellow 30%,
        $mainPink 90%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .buttonContainer {
      margin-right: 5%;
    }
  }

  .quizzes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
